<div id="login-container" >
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <h1 class="col-sm-12 h2-maroon">Log In Page</h1>
      </div>
      <div class="row">
        <form id="loginForm">
          <div class="form-group loginInput">
            <label for="exampleInputEmail1">User Name</label>
            <input type="email" class="form-control" id="userName" placeholder="user@email.com">
          </div>
          <div class="form-group loginInput">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="p@s$w0rd">
          </div>
          <button type="submit" class="sumbitButton" >SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>
