<!-- <div id="login-container" >
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <h1 class="col-sm-12 h2-maroon">Log In Page</h1>
      </div>
      <div class="row">
        <form id="loginForm">
          <div class="form-group loginInput">
            <label for="exampleInputEmail1">User Name</label>
            <input type="email" class="form-control" id="userName" placeholder="user@email.com">
          </div>
          <div class="form-group loginInput">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="p@s$w0rd">
          </div>
          <button type="submit" class="sumbitButton" >SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div id="confirmation-container">
  <h1 class="h1 confirmationRow">Thank You for Your Input!</h1>
  <p class="confirmationRow">Gummies croissant ice cream gingerbread soufflé. Danish topping apple pie I love jelly beans chocolate bar chocolate cake powder. </p>
  <h2 class="h2-gold confirmationRow" id="goBobcats">Go Bobcats!</h2>
  <img id="commentLogo" class="confirmationRow" src="/jefferson-houston-logo.png"/>
</div>
