<div id="confirmation-container">
  <h1 class="h1 confirmationRow">Thank You for Your Input!</h1>
  <p class="confirmationRow">
    Gummies croissant ice cream gingerbread soufflé. Danish topping apple pie I
    love jelly beans chocolate bar chocolate cake powder.
  </p>

  <h2 class="h2-gold confirmationRow" id="goBobcats">Go Bobcats!</h2>
  <img id="commentLogo" class="confirmationRow" src="/jefferson-houston-logo.png"/>
</div>
