<div id="confirmation-container">
  <h1 class="h1 confirmationRow">Thank you for your submission!</h1>
  <p class="confirmationRow">
    The Jefferson-Houston FAC appreciates your input!
  </p>

  <h2 class="confirmationRow h2-gold" id="goBobcats">Go Jaguars!</h2>

  <img id="commentLogo" class="confirmationRow" src="/jefferson-houston-logo.png"/>
</div>
