<div class="main-container col-sm-10 col-sm-offset-1">
  <div class="row">
    <h1 class="col-sm-12 h1">Faculty Comment Form</h1>
  </div>
  <div class="row" id="commentInfo">
    <div class="col-sm-7" id="commentText">
      <h2 class="h2-gold"> Instructions: </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies
        sodales nibh quis efficitur. Aliquam erat volutpat. Mauris sem dolor, lobortis
        sit amet tortor id, eleifend congue libero. Mauris non odio porttitor, posuere
        neque non, iaculis massa. Duis et interdum sapien, et iaculis lectus. Maecenas
        non efficitur libero.
      </p>
      <p>
        In hac habitasse platea dictumst. In tincidunt facilisis
        mauris, venenatis fermentum eros luctus vel. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia Curae; Sed rhoncus, risus in
        dignissim commodo, lectus leo lacinia magna, id ultricies justo nisl sed est.
        Quisque eu condimentum sapien.
      </p>
    </div>
    <img class="col-sm-4 col-sm-offset-1" id="commentLogo" src="/jefferson-houston-logo.png"/>
  </div>
  <% @issue = Issue.new %>
  <%= form_for @issue, url: issues_path, method: "POST", html: {class: "row" id: "commentForm"} do |f| %>
    <div class="row" >
      <%= f.select :category, options_for_select(["Science", "English", "History", "Physical Education"]), {}, {:class => 'col-sm-4', :id => "commentCategory", :placeholder =>"Select a Category"} %>
      <% end %>
    </div>
    <div class="row" >
      <%= f.textarea :note, {:class =>"col-sm-12 commentArea", :placeholder => "Please Comment Here..."} %>
    </div>
    <div class="row" >
      <%= f.submit "SUBMIT", class: "submitButton" %>
    </div>
  <% end %>
</div>
