<div class="main-container col-sm-10 col-sm-offset-1">
  <div class="row">
    <h1 class="col-sm-12 h1">Faculty Comment Form</h1>
  </div>
  <div class="row" id="commentInfo">
    <div class="col-sm-7" id="commentText">
      <h2 class="h2-gold"> Instructions: </h2>
      <p>Good afternoon Jefferson-Houston Staff! </p>
      <p>
        Please leave a comment for the Faculty Advisory Council below. Select a category, type your comment,
        and press submit. The FAC will do its best to hear all of your ideas,
        suggestions, and improvements.
      </p>
      <p>
        Thank you for your input!
      </p>
    </div>
    <img class="col-sm-4 col-sm-offset-1" id="commentLogo" src="/jefferson-houston-logo.png"/>
  </div>
  <%= form_for @issue, url: issues_path, method: "POST", html: {class: "row", id: "commentForm"} do |f| %>
    <div class="row" >
      <%= f.select :category, options_for_select([
          "Logistics",
          "Inter-Staff Relationships",
          "Student-to-student Relationships",
          "Safety",
          "Communication",
          "General School Improvement",
          "Individual Student Needs",
          "Miscellaneous"]),
        {}, {:class => 'col-sm-4', :id => "commentCategory", :placeholder => "Select a Category"} %>
      <div class="checkbox col-sm-offset-5 col-sm-3">
        <label class="big-checkbox">
          <input type="checkbox"> Would you like to talk about this in person?
        </label>
      </div>
    </div>
    <div class="row" >
      <%= f.text_area :note, {:class =>"col-sm-12 commentArea", :placeholder => "Please Comment Here..."} %>
    </div>
    <div class="row" >
      <%= f.submit "SUBMIT", class: "submitButton" %>
    </div>
  <% end %>
</div>
