@import 'comment';
@import 'issues';
@import 'nav_footer';
@import 'login';
@import 'variables';
@import 'confirmation';
@import 'table';

html {
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  flex: 1;
}

.h1 {
  font-size: $font-size-h1;
  color: $maroon;
  font-weight: bold;
}

.h2-gold {
  font-size: $font-size-h2;
  color: $gold;
  font-weight: bold;
}

.h2-maroon {
  font-size: $font-size-h2;
  color: $maroon;
  font-weight: bold;
}

.submitButton {
  height: 3em;
  width: 10.5em;
  border-radius: 1em;
  background-color: $gold;
  border: none;
  color: $maroon;
  font-weight: bold;
  float: right;
  &:hover {
    color: white;
    background-color: darkgrey;
  }
  &:active {
    color: $gold;
    background-color: $maroon;
  }
}

.showBody {
  padding-left: 3em;
  padding-top: 3em;
  span {
    font-weight: bold;
    color: $maroon;
  }

  h2 {
    padding-top: 1em;
  }

  .back {
    padding-top: 3em;
  }

}
