@import 'variables';

.main-container {
  text-align: center
}

#instructionText {
  text-align: left;
}
.commentArea {
  height: 225px;
  margin-bottom: .5em;
  padding: 1em;
}

#commentLogo {
  max-width: 22em;
  max-height: 20em;
  width: auto;
  height: auto;
  padding: 0;
}

#commentText {
  padding-left: 0;
  text-align: left;
}

#commentInfo {
  margin: 1em 0;
}

#commentForm {
  margin: 0 1em;
  margin-bottom: 1em;
  row {
    margin: 0 1em;
  }
}

#commentCategory{
  height: 35px;
  margin: 1em 0;
}

.description {
  padding-top: 1.5em;
}

.checkbox {
  float: left;
  padding-left: 1em;
  .big-checkbox > input {
    height: 1em;
    transform: scale(1.5);

  }
}
