@import 'variables';

#confirmation-container {
  padding-top: 4em;
  text-align: center;
}

.confirmationRow {
  margin-bottom: 1em;
  font-size: 2em;

}

#goBobcats {
  margin-top: 2em;
}

#confimationLogo {
  max-width: 22em;
  max-height: 20em;
  width: auto;
  height: auto;
  padding: 0;
}
